@font-face {
	font-family: "Instrument Serif";
	src: url('/fonts/Instrument_Serif/InstrumentSerif-Regular.ttf');
	font-style: normal;
}
@font-face {
	font-family: "Instrument Serif";
	src: url('/fonts/Instrument_Serif/InstrumentSerif-Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url('fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf');
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url('fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf');
	font-style: italic;
}

:root {
	--font-body: "Roboto", sans-serif;
	--font-serif: "Instrument Serif", serif;
	
	--color-bg-0: white;
	--color-bg-1: #FFFEEE;
	--color-bg-2: hsl(224, 44%, 95%);
	
	--color-theme-1: #6F0E1E;
	--color-theme-2: #4075a6;
	
	--color-text-100: rgba(0, 0, 0, 0.9);	
	--color-text-200: rgba(0, 0, 0, 0.7);
	--color-text-300: rgba(0, 0, 0, 0.5);

	--color-border: rgba(0, 0, 0, 0.1);
	
	--column-width: 42rem;
	--column-margin-top: 4rem;

	font-family: var(--font-body);
	color: var(--color-text-200);
	line-height: 1.5;
}

body {
	min-height: 100vh;
	margin: 0;
	border-block: 1em solid var(--color-theme-1);
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image:
		radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

ul {
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: underline;	
	}
}

.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button {
	background: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
}